@using FamousQuoteQuiz.Common

@{
    var mode = MyGlobalVariables.BinaryMode;
}

<label for="binary_mode">Binary Mode</label>
<input class="rb_mode" type="radio" id="binary_mode" name="mode" checked="@mode" />

<label for="multichoice_mode">Multi choice Mode</label>
<input class="rb_mode" type="radio" id="multichoice_mode" name="mode" checked="@(!mode)" />





